.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-gray);
}

.section > span {
  font-size: 16rem;
  margin: 0;
  line-height: normal;
  font-weight: bold;
}
.wrapper_error_page {
  z-index: 10;
  position: relative;
}
.wrapper_content > div > nav {
  background-color: rgba(0, 0, 0, 0) !important;
}
